---
import PageLayout from '../layouts/PageLayout.astro';

let title = 'Page not found!';
---

<PageLayout title={title}>
    <h1>Error 404!</h1>
    <p>The page you were trying to look for was not found.</p>
    <a href="/">Return to Front page</a>
</PageLayout>