---
---

<footer class="site-footer" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
    <p>Proudly built with <a href="https://astro.build" target="_blank" rel="noopener">Astro</a>.</p>
</footer>
