---
---

<nav class="header__nav" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <ul id="primary-menu-list" class="primary-menu">
        <li class="primary-menu__item">
            <a href="/" title="Front page">Front page</a>
        </li>
        <li class="primary-menu__item">
            <a href="/about-themes" title="About Kaamos Astro demo themes">About Themes</a>
        </li>
        <li class="primary-menu__item">
            <a href="/typography" title="Typography examples">Typography</a>
        </li>
        <li class="primary-menu__item">
            <a href="/license" title="Info about Kaamos Astro license">License</a>
        </li>        
    </ul>
</nav>
